<!DOCTYPE html>
<html lang="ru" class="page">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#111111">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <base href="/"> -->
  <title>Стартовый шаблон</title>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name='yandex-verification' content=''/>
  <meta name="google-site-verification" content=""/>
  <meta name="advertstar-site-verification" content=""/>
  <link rel="canonical" href="/"/> 
  <!-- Open Graph data-->
  <meta property="og:type" content="website"/>
  <meta name="Author" content="Osotov V.A."/>
  <meta property="og:locale" content="ru_RU"/>
  <meta property="og:locale:alternate" content="ru_RU">
  <meta property="og:title" content="ШАблон сайта"/>
  <meta property="og:description" content=""/>
  <meta property="og:url" content="/"/>
  <meta property="og:site_name" content=""/>
  <meta property="article:modified_time" content="24.11.2025 12:07:56" />
  <!-- картинка -->
  <meta property="og:image" content="img/cover.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="210">
  <meta property="og:image:height" content="210">
  <meta property="og:image:alt" content="Сколько стоит новый сайт. Предлагаю на 1С-Битрикс от 65 000 ₽ до 40 дней">
  <link rel="profile" href="https://gmpg.org/xfn/11">
  <!-- end Open Graph data-->
  <!--Favicons-->
  <link rel="icon" href="favicon/favicon.ico">
  <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="favicon/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="favicon/apple-touch-icon-1024x1024.png">
  <link rel="stylesheet" href="css/style.min.css">
  <!--/Favicons-->
</head>
