
  <section>
    <main class="main">

      <!--DEMO!!!!-->
      <div class="page__body">
        <div class="site-container">
          <picture>
            <source srcset="img/webp/cover.webp" type="image/webp">
            <img loading="lazy" src="./img/cover.jpg" class="image" width="1010" height="808" alt="Обложка канала MaxGraph">
          </picture>
          <div class="text">
            Добро пожаловать в стартовый шаблон!
          </div>
        </div>
      </div>
     <!--END DEMO!!!-->


    </main>
  </section>
