@use './mixins/font-face' as *; 
@include font-face("Montserrat", "Montserrat-Regular", 400, normal);
@include font-face("Montserrat", "Montserrat-Bold", 700, normal);
@include font-face("Montserrat", "Montserrat-black", 900, normal);
@include font-face("Open Sans", "OpenSans-Regular", 400, normal);
@include font-face("Open Sans", "OpenSans-Bold", 700, normal);
