.svg-facebook-dims {
	width: 11px;
	height: 20px;
}

.svg-icon-dims {
	width: 502.66px;
	height: 502.66px;
}

.svg-instagram-dims {
	width: 20px;
	height: 20px;
}

.svg-quote-dims {
	width: 47px;
	height: 40px;
}

.svg-select-arrow-dims {
	width: 14px;
	height: 9px;
}

.svg-sprite-dims {
	width: 0px;
	height: 0px;
}

.svg-twitter-dims {
	width: 23px;
	height: 20px;
}

