// базовые подключения
@import "normalize";
@import "vendors";
@import "vars";
@import "mixins";
@import "fonts";
@import "demo";
@import "media";

// подключения компонентов страницы
@import "./components/header";

/* DEMO!!!!*/
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
/*DEMO!!!*/
