// базовые подключения
@import "sprite";
@import "mixins";
@import "normalize";
//@import "reset";
@import "fonts";
@import "vars";
@import "vendors";
@import "global"; 
@import "media";


// подключения компонентов страницы
@import "header";

/* DEMO!!!!*/
@import "demo";

.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}
/*DEMO!!!*/
