
/* Базовые подключения */
@use 'normalize';
@use 'sprite';
@use 'mixins'   as *;
@forward 'fonts';
@use 'vendors';
@use 'global';
@use 'form';



// подключения компонентов страницы
//@use 'header';

/* DEMO!!!! */
//@use 'demo';

.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}

/* DEMO!!! */
